* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

main {
    display: grid;
    grid: auto auto auto auto 1fr / 1fr 1fr;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 50px;
    background: rgba(0, 0, 0, 0.096);
}

img {
    grid-row: 3/-1;
    grid-column: 2/3;
}

.line {
    height: 1px;
    background: rgba(231, 170, 231, 0.800);
    ;
    margin-top: 20px;
}

.white {
    background: rgb(255, 255, 255);
}

.info {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.arrows {
    grid-row: 6/8;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

h3 {
    color: rgb(151, 78, 151);
}

.number {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.button {
    background: rgb(151, 78, 151);
    width: 50%;
    padding: 15px 10px;
}

.info p {
    color: black;
}

.left-arrow,
.right-arrow {
    background: rgb(151, 78, 151);
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}

.container::before {
    content: '';
    background: rgb(151, 78, 151);
    position: absolute;
    width: 1240px;
    height: 235px;
    z-index: -1;
    top: 0;
    left: 340px;
}

h1 {
    color: rgba(231, 170, 231, 0.800);
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

.left-arrow::after {
    content: "|";
    color: rgba(53, 53, 53, 0.411);
    position: absolute;
    margin-left: 35px;
}

.arrow {
    display: flex;
}